@charset "UTF-8";    
  
  /* сброс, чтобы не было отступов у страницы */
html, body {
  height: 100%;
  margin: 0;
}

/* фон на весь видимый экран */
body {
  min-height: 100svh; /* safe viewport (корректно на мобильных) */
  background-image: url("../images/index/back.png");
  background-position: center center; /* по центру */
  background-repeat: no-repeat;       /* без повторов */
  background-size: cover;             /* полностью покрыть экран */
  /* Если хочешь, чтобы фон не прокручивался при скролле — раскомментируй: */
  /* background-attachment: fixed; */
}


